{
    "extends": [
      "eslint:recommended"
    ],
    "env": {
      "browser":true,
      "node": true
    },
    "parserOptions": {
      "ecmaVersion": "latest"
    },
    "rules": {
      "semi": "error",
      "quotes": ["error", "single", { "allowTemplateLiterals": true }]
    }
  }